<h2>Help Categories</h2>
<ul class="category_list category_faceting">
  <% Section.all.each do |s| %>
  <li><%= link_to s.name, help_section_path(s.guid), :class => ((s.id == section.id) ? 'current' : '') %></li>
  <% end %>
</ul>

<%= link_to "Still have questions? Contact Us.", help_contact_path, :class => 'more' %>