  <ol class="accordian">
    <% section.questions.each do |question| %>
      <li class="question">
        <h3><a href="#"><%= question.name %></a></h3>
        <div class="answer">
          <%= RedCloth.new(question.answer).to_html %>
        </div>
      </li>
    <% end %>
  </ol>