  <ol class="accordian">
    <li class="question">
      <h3><a href="#">How do I file a damage report?</a></h3>
      <div class="answer">
        <p> If you have damaged a borrowed item in anyway then you must lodge a damage report. This can be done through the "My Reservations" section by selecting the damaged item and clicking the damage report button. A form will then appear. Complete this form and submit the report. An administration officer will contact you if further action is required.     
        </p>
      </div>
    </li>
    <li class="question">
      <h3><a href="#">Where can I pick up my items?</a></h3>
      <div class="answer">
        <p>Answer</p>
      </div>
    </li>
    <li class="question">
      <h3><a href="#">How many items am I allowed to checkout?</a></h3>
      <div class="answer">
        <p>Answer</p>
      </div>
    </li>
    <li class="question">
      <h3><a href="#">How do I pay my overdue fees?</a></h3>
      <div class="answer">
        <p>Answer</p>
      </div>
    </li>
    <li class="question">
      <h3><a href="#">Why does it say my account is pending approval?</a></h3>
      <div class="answer">
        <p>Answer</p>
      </div>
    </li>
    <li class="question">
      <h3><a href="#">Why do you need it that way?</a></h3>
      <div class="answer">
        <p>Answer</p>
      </div>
    </li>
  </ol>