<h1>Help and Guides</h1>

<div id="question_module" class="module">
	<h2>Help Categories</h2>
	<ul class="category_list">
    	<li><a href="../help">Requesting Items</a></li>
    	<li><a href="help/returning">Returning Items</a></li>
    	<li><a href="help/account">Account Management</a></li>
  	</ul>
  	<a href="help/contact" class="more">Still have questions? Contact Us.</a>
	<input type="button" value="Email" onClick="parent.location='mailto:help@equipmentbooking.uq.edu.au?subject=Help%20Question'">
	<button type="button"> Message </button> 
</div>

<div id="answer_module" class="module">
  <h2>Frequently Asked Questions</h2>
  <%= render :partial => 'question_accordian' %>
</div>