<h4 class="primary_action guided"><%= link_to 'Or Return to Questions Index', questions_path %></h4>
<h1>New Question</h1>

<% form_for(@question) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'question_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Create New Question' %>
    </li>
  </ul>
<% end %>