<h3 class="item_name"><%= link_to item.name, item_detail_path(item.guid) %></h3>
<%= link_to image_tag(item.image.url(:thumb), :alt => item.name), item_detail_path(item.guid), :class => 'item_photo' %>
<%= render :partial => 'shared/included_items_list.html', :locals => {:item => item} %>
