<h3 class="item_name"><a href="item"><%= item.name %></a></h3>
<%= link_to image_tag(item.image.url(:thumb), :alt => item.name), item_detail_path(item.guid), :class => 'item_photo' %>
<h4>Includes:</h4>
<ul class="included_items">
  <li>Wall Charger</li>
  <li>Battery Pack</li>
  <li>USB Cable</li>
  <li>Carrying Case</li>
</ul>