<div class="cart_item_module cart_form">
  <%= render :partial => 'add_item_form.html', :locals => {:prefix => 'inline'} %>
</div>
<ul id="item_info" class="item_list">
  <li>
    <%= render :partial => 'item_detail.html' %>
  </li>
</ul>