<h2>Huzzah! An item has been added to your cart:</h2>
<ul class="item_detail item_list">
  <li id="item_1">
    <h3 class="item_name"><a href="item">Cannon EOS 50-D</a></h3>
    <a href="item#" class="item_photo"><img src="/images/samples/sample_50d.jpg" width="115" height="115" alt="Cannon EOS 50-D"/></a>
    <h4>Includes:</h4>
    <ul class="included_items">
      <li>Wall Charger</li>
      <li>Battery Pack</li>
      <li>USB Cable</li>
      <li>Carrying Case</li>
    </ul>
    <ul class="action_list">
      <li class="primary_action"><a href="#" class="lightbox-close">Continue Shopping</a></li>
      <li class="primary_action guided"><a href="/equipment/checkout">Proceed to Checkout</a></li>
    </ul>
  </li>
</ul>