<h2>Huzzah! An item has been added to your cart:</h2>
<ul class="item_detail item_list">
  <li id="item_1">
    <%= render :partial => 'item_detail.html', :locals => {:item => @item} %>
    <ul class="action_list">
      <li class="primary_action"><a href="#" class="lightbox-close">Browse for Other Items</a></li>
      <li class="primary_action guided"><a href="/equipment/checkout">Proceed to Checkout</a></li>
    </ul>
  </li>
</ul>