<h1>Book Your Equipment @ the ITEE.</h1>
<div id="search_module" class="module">
  <h2>Search For Equipment:</h2>
  <%= render :partial => 'layouts/search_form_with_availability', :locals => {:search_label => "search_label"} %>
</div>
<div id="catalogue_module" class="module">
  <h2>Browse Catalogue:</h2>
  <%= render :partial => 'layouts/category_list', :locals => {:categories => @categories} %>
</div>
<div id="quick_tips_module" class="module">
  <h2>Quick Tips &amp; Help:</h2>
    <ol>
      <% Question.all(:include => :section, :limit => 7).each do |question| %>
        <li><%= link_to question.name, help_section_path(question.section.guid) %></li>
      <% end %>
    </ol>
  </li>
  <%= link_to "See more questions...", '/help', :class => 'more' %>
</div>