<h1>Book Your Equipment @ the ITEE.</h1>
<div id="search_module" class="module">
  <h2>Search For Equipment:</h2>
  <%= render :partial => 'layouts/search_form_with_availability', :locals => {:search_label => "search_label"} %>
</div>
<div id="catalogue_module" class="module">
  <h2>Browse Catalogue:</h2>
  <ul class="category_list">
    <li><a href="#">Cameras</a>
      <ul>
        <li><a href="#">Compact</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li><a href="#">Cameras</a>
      <ul>
        <li><a href="#">SLR</a></li>
        <li><a href="#">Compact</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li><a href="#">Cameras</a>
      <ul>
        <li><a href="#">SLR</a></li>
        <li><a href="#">Digital</a></li>
        <li><a href="#">Compact</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li><a href="#">Cameras</a>
      <ul>
        <li><a href="#">SLR</a></li>
        <li><a href="#">Digital</a></li>
        <li><a href="#">Compact</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
    <li><a href="#">Cameras</a>
      <ul>
        <li><a href="#">SLR</a></li>
        <li><a href="#">Video</a></li>
      </ul>
    </li>
  </ul>
</div>
<div id="quick_tips_module" class="module">
  <h2>Quick Tips &amp; Help:</h2>
  <ol>
    <li><a href="#">How do I file a damage report?</a></li>
    <li><a href="#">Where can I pick up my items?</a></li>
    <li><a href="#">How many items am I allowed to checkout?</a></li>
    <li><a href="#">How do I pay my overdue fees?</a></li>
    <li><a href="#">Why does it say my account is pending approval?</a></li>
    <li><a href="#">Why do you need it that way?</a></li>
  </ol>
  <a href="#" class="more">See more questions...</a>
</div>