<ul id="breadcrumb">
  <li class="return"><a href="/equipment/search">Return to Search Results</a></li>
  <li><a href="#">Equipment</a></li>
  <li><a href="#">Cameras</a></li>
  <li><a href="#">SLRs</a></li>
  <li><a href="#">Canon EOS 50-D Digital SLR Camera</a></li>
</ul>
<div id="item_details">
  <h2>Canon EOS 50-D Digital SLR Camera</h2>
  <h3 class="add_to_cart"><a href="#">Add to Cart</a></h3>
  <img src="/images/samples/big_sample_50d.jpg" width="280" height="280" alt="Big Sample 50-d" class="item_image_detail"/>
  <h3>Description:</h3>
  <p>Canon’s new EOS 50D bridges the gap between the novice and the seasoned pro with a perfect combination of high-speed and quality. It features an APS-C sized 15.1-megapixel CMOS sensor for tremendous images, new DIGIC 4 Image Processor for fine detail and superior color reproduction, and improved ISO capabilities up to 12800 for uncompromised shooting even in the dimmest situations. It features a refined 3.0-inch Clear View LCD (920,000 dots) monitor, supercharged Live View Function with Face Detection Live mode, plus a number of new automatic Image Correction settings and HDMI output for viewing images on an HDTV. Pick up the EOS 50D and you’ll experience true digital inspiration!</p>
  <h3>Includes:</h3>
  <ul class="included_items">
    <li>Wall Charger</li>
    <li>Battery Pack</li>
    <li>USB Cable</li>
    <li>Carrying Case</li>
  </ul>
  
  <h3>Suggested Complimentary Items:</h3>
  <ul class="inline_item_list">
    <li></li>
  </ul>
  
  <h3>Similar Alternative Items:</h3>
  <ul class="inline_item_list">
    <li></li>
  </ul>
</div>
