<div id="content">
	
	<h4 class="primary_action guided">
		<a href="#this should be a search bar!!">Search For Existing User</a>
	</h4>

	<h4 class="primary_action">
		<a href="users/add">Add a New User</a>
	</h4>

	<h1>Listing Users</h1>
	
	<h2>Administrators</h2>
	<ul id="users" class="sorted_list ui-sortable" unselectable="on" style="-moz-user-select: none;">
		<li id="administrator">
			<ul>
				<li>
					<h3 class="user_name">
						<a href="#">Name</a>
					</h3>
					<h4 class="user_id"> User ID: admin  </h4>	
					<p class="user_permission"> Access Level: Administrator </p>
				</li>
			</ul>
			<ul class="action_list">
				<li class="primary_action">
					<a href=""> View Profile</a>
				</li>
				<li class="primary_action delete guided">
					<a onclick="" href="#">Delete</a>
				</li>
			</ul>
		</li>
	</ul>
		
	<h2>Kiosk</h2>
	<ul id="users" class="sorted_list ui-sortable" unselectable="on" style="-moz-user-select: none;">
		<li id="kiosk">
			<ul>
				<li>
					<h3 class="user_name">
						<a href="#">Name</a>
					</h3>
					<h4 class="user_id"> User ID: kiosk  </h4>	
					<p class="user_permission"> Access Level: Kiosk </p>
				</li>
			</ul>
			<ul class="action_list">
				<li class="primary_action">
					<a href=""> View Profile</a>
				</li>
				<li class="primary_action delete guided">
					<a onclick="" href="#">Delete</a>
				</li>
			</ul>
		</li>
	</ul>

	<h2>Staff</h2>
	<ul id="users" class="sorted_list ui-sortable" unselectable="on" style="-moz-user-select: none;">
		<li id="staff">
			<ul>
				<li>
					<h3 class="user_name">
						<a href="#">Name</a>
					</h3>
					<h4 class="user_id"> User ID: teacher  </h4>	
					<p class="user_permission"> Access Level: Staff </p>
				</li>
			</ul>
			<ul class="action_list">
				<li class="primary_action">
					<a href=""> View Profile</a>
				</li>
				<li class="primary_action delete guided">
					<a onclick="" href="#">Delete</a>
				</li>
			</ul>					
		</li>
	</ul>

	<h2>Students</h2>
	<ul id="users" class="sorted_list ui-sortable" unselectable="on" style="-moz-user-select: none;">
	<li id="students">
		<ul>
			<li>
				<h3 class="user_name">
					<a href="#">Name</a>
				</h3>
				<h4 class="user_id"> User ID: student  </h4>	
				<p class="user_permission"> Access Level: Student </p>
			</li>
		</ul>
		<ul class="action_list">
			<li class="primary_action">
				<a href=""> View Profile</a>
			</li>
			<li class="primary_action delete guided">
				<a onclick="" href="#">Delete</a>
			</li>
		</ul>				
	</li>
</div>



