<h1>New Section</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'section_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Create' %>
    </li>
  </ul>
<% end %>

<%= link_to 'Back', sections_path %>