<h1>My Reservations</h1>

<div id="warning">
  <h2>We got your reservation! ...BUT now we need to approve it.</h2>
  <p>Since this is your first time accessing the booking system one of our staff must review your request before it can be approved. We'll let you know as soon as this is completed!</p>
</div>