<h4 class="primary_action guided"><%= link_to 'Or Just Manage Categories', categories_path %></h4>
<h4 class="primary_action"><%= link_to 'Create a New Item', new_item_path %></h4>
<h1>Listing Items</h1>

<ol class="item_list">
  <% @items.each do |item| %>
    <%= render :partial => 'item_detail', :locals => {:item => item} %>
  <% end %>
</ol>