<h4 class="primary_action guided"><%= link_to 'Or Return to Managing Items', items_path %></h4>
<h4 class="primary_action"><%= link_to 'Create a New category', new_category_path %></h4>
<h1>Listing Categories</h1>

<ul class="sorted_list" id="categories">
  <% @categories.each do |category| %>
    <%= render :partial => 'category_item', :locals => {:category => category} %>
  <% end %>
</ul>