<h1>New category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>
  <ul class="form">
    <%= render :partial => 'category_form', :locals => {:f => f} %>
    <li>
      <%= f.submit 'Create' %>
    </li>
  </ul>
<% end %>

<%= link_to 'Back', categories_path %>