<li class="search_field_date from">
        <%= label_tag :available_from, "Pickup On" %>
        <%= text_field_tag :available_from, "", :class => 'datepicker' %>
      </li>
      <li class="search_field_date until">
        <%= label_tag :available_until, "Return On" %>
        <%= text_field_tag :available_until, "", :class => 'datepicker' %>
      </li>