<ul class="category_list">
  <li><a href="equipment/browse">Technology</a>
    <ul>
      <li><a href="equipment/browse">Audio</a></li>
      <li><a href="equipment/browse">Video</a></li>
      <li><a href="equipment/browse">Computers</a></li>
      <li><a href="equipment/browse">Cameras</a></li>
    </ul>
  </li>
  <li><a href="equipment/browse">Class</a>
    <ul>
      <li><a href="equipment/browse">CSSE 1002</a></li>
      <li><a href="equipment/browse">MMDS 3300</a></li>
      <li><a href="equipment/browse">COMP 7000</a></li>
      <li><a href="equipment/browse">IENV 7401</a></li>
    </ul>
  </li>
  <li><a href="equipment/browse">Tasks</a>
    <ul>
      <li><a href="equipment/browse">Presentations</a></li>
      <li><a href="equipment/browse">Film Interviews</a></li>
      <li><a href="equipment/browse">Podcasting</a></li>
      <li><a href="equipment/browse">User Testing</a></li>
    </ul>
  </li>
</ul>