<% form_tag('/equipment/search') do %>
  <%= render :partial => 'layouts/search_field', :locals => {:search_label => search_label} %>
  <fieldset>
    <legend>Optional</legend>
    <ul class="form">
      <%= render :partial => 'layouts/availability_fields' %>
      <li class="search_field_availability_submit">
         <%= submit_tag "Search For Available Items" %>
      </li>
    </ul>
  </fieldset>
<% end %>